<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1><em>Info Page</h1></em>
        <p>This is the info page: here's some information about me!
        <br> Woah - you're really doing it Peter!!!</p>
    </body>
</html> 